*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.top_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71dadc;
    padding: 20px;
    width: 100%;
}

.top_banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_banner .detail {
    flex: 1;
    padding-left: 10%;
}

.top_banner .detail h2 {
    font-size: 2.5em; /* Large font size for product name */
    color: #333; /* Dark grey for contrast */
    margin-bottom: 15px;
}

.top_banner .detail h3 {
    font-size: 22px; /* Slightly smaller font size for price */
    color: #ffffff; /* Blue color to attract attention to the price */
    font-weight: bold; /* Bold for emphasis */
    margin-bottom: 50px;
}

.top_banner .link {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.top_banner .link:focus {
  color: #171e29;
}

.top_banner .link:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.top_banner .link:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .top_banner .link {
    min-width: 170px;
  }
}
/* .top_banner .link {

    background-color: #28a745; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
} */

.top_banner .img_box {
    flex: 1;
    text-align: left; /* Adjust text alignment */
}

.top_banner .img_box img {
    width: 50%; /* Reduce width to half */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image is a block-level element */
    margin-left: auto; /* Center align image if it's smaller than container */
    margin-right: auto; /* Center align image if it's smaller than container */
}

@media (max-width: 768px) {
    .top_banner .img_box img {
        width: 80%; /* Slightly larger image for smaller screens */
    }
}



.product_type 
{
    width: 100%;
    padding: 20px 30px;
}
.product_type .container
{
    max-width: 100;
    display: flex;
    justify-content: space-between;
}
.product_type .container .box
{
    padding: 10px 20px;
    margin-left: 10px;
}
.product_type .container .box .img_box
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #e8f4ff;
    overflow: hidden;
    cursor: pointer;
}
.product_type .container .box .img_box img
{
    height: 125px;
    width: 125px;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin-top: 37px;
    margin-left: 40px;
    transition: 0.5s;
}
.product_type .container .box .img_box:hover img
{
    transform: scale(1.3);
}
.product_type .container .box .detail
{
    max-width: 100%;
    text-align: center;
    align-items: center;
}
.product_type .container .box .detail p
{
    margin-top: 10px;
    color: #9a9a9a;
}
.about 
{
    padding: 40px 50px;
    width: 100%;
}
.about .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.about .container .box
{
    padding: 10px 20px;
    display: flex;
    background: #ecf2f7;
    width: 270px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
}
.about .container .box .icon
{
    color: #e44c8c;
    font-size: 32px;
    margin-top: 10px;
}
.about .container .box .detail
{
    margin-top: 10px;
    margin-left: 10px;
}
.about .container .box .detail h3
{
    color: #010f1c;
}
.about .container .box .detail p
{
    color: #9a9a9a;
}
.product
{
    padding: 30px 40px;
    width: 100%;
}
.product h2
{
    font-size: 32px;
    color: #010f1c;
    margin-bottom: 20px;
}
.product .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product .container .box 
{
    padding: 10px 20px;
    overflow: hidden;
    width: 330px;
    height: 400px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
}
.product .container .box:hover
{
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.product .container .box .img_box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.product .container .box .img_box img
{
    width: 350px;
    height: 300px;
    margin-right: 50px;
}
.product .container .box .img_box .icon
{
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}
.product .container .box .img_box:hover .icon
{
    transform: translateX(-90px);
}
.product .container .box .img_box .icon li
{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 24px;
}
.product .container .box .img_box .icon li:hover
{
    background: #0989ff;
    color: white;
}
.product .container .box .detail
{
    margin-top: 10px;
}
.product .container .box .detail p
{
    color: #9a9a9a;
    font-size: 14px;
}
.product .container .box .detail h3
{
    font-size: 18px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}
.product .container .box:hover .detail h3
{
    color: #0989ff;
}
.product .container .box .detail h4
{
    margin-top: 5px;
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;
}
.banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #71dadc; */
    padding: 20px 30px;
    width: 100%;
}
.banner .container
{
    padding: 30px 40px;
    background: #0989ff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner .container .detail {
    flex: 1;
    padding-left: 10%;
}

.banner .container .detail h4
{
    color: #e3edf6;
    font-size: 18px;
    letter-spacing: 1px;
}
.banner .container .detail h3
{
    margin-top: 10px;
    font-size: 46px;
    margin-right: 20%;
    letter-spacing: 1px;
    color: #000000;
}
.banner .container .detail p
{
    margin-top: 30px;
    color: #fff;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 30px;
}


.banner .container .detail .link {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.banner .container .detail.link:focus {
  color: #171e29;
}

.banner .container .detail .link:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.banner .container .detail .link:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .banner .container .detail .link {
    min-width: 170px;
  }
}

.banner .container .detail .img_box {
    flex: auto;
    text-align: left; 
}

.banner .container .detail .img_box img {
    width: 50%; 
    height: auto; 
    display: flex; 
    margin-left: auto; 
    margin-right: auto; 
}

@media (max-width: 768px) {
    .banner .container .detail .img_box img {
        width: 80%; 
    }
}


.product_detail
{
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 1;
    margin-top: -15%;
    background: rgba(0,0,0,0.24);
}
.product_detail .container
{
    margin-top: 11%;
    margin-left: 15%;
    width: 1100px;
    height: 600px;
    background: #fff;
    padding: 0px 25px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.product_detail .container .closeBtn
{
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}
.product_detail .container .product_box
{
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    /* justify-content: space-between; */
}
.product_detail .container .product_box .img_box
{
    padding: 20px 30px;
    width: 500px;
    height: 500px;
    background: #f1f1f1
}
.product_detail .container .product_box .img_box img
{
    width: 400px;
    height: 400px;
}
.product_detail .container .product_box .detail
{
    margin-left: 20px;
    margin-top: 10px;
}
.product_detail .container .product_box .detail h4
{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}
.product_detail .container .product_box .detail h2
{
    margin-top: 20px;
    font-size: 34px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.product_detail .container .product_box .detail p
{
    margin-top: 10px;
    color: #4a4a4a;
}
.product_detail .container .product_box .detail h3
{
    margin-top: 10px;
    font-size: 34px;
    color: #010f1c;
    letter-spacing: 1px;
}
.product_detail .container .product_box .detail button
{
    margin-top: 30px;
    padding: 15px 60px;
    border: none;
    outline: none;
    background: #010f1c;
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.product_detail .container .product_box .detail button:hover
{
    background: #0989ff;
}