* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.products {
    padding: 30px 40px;
    width: 100%;
}

.products-header {
    display: flex;
    justify-content: space-between; /* Aligns children to each end */
    align-items: center; /* Aligns children vertically */
    padding: 10px 0; /* Add some padding for spacing */
}

h2 {
    margin: 0; /* Resets margin */
    /* Additional styling for h2 if needed */
}

.add-product-btn {
    padding: 10px 20px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    /* Gradient background */
    color: black;
    /* White text */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 16px;
    /* Larger font size */
    cursor: pointer;
    /* Cursor pointer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
    transition: all 0.3s ease;
    /* Transition for interactive feedback */
}

.add-product-btn:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
    /* Inverted gradient on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Larger shadow on hover */
}

.add-product-btn:focus {
    outline: none;
    /* Remove focus outline */
    box-shadow: 0 0 0 2px rgba(79, 172, 254, 0.5);
    /* Focus shadow */
}

.products .container {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .container .filter {
    padding: 20px 30px;
}

.products .container .filter .categories h3 {
    color: #010f1c;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .container .filter .categories ul {
    margin-top: 10px;
}

.products .container .filter .categories ul li {
    list-style: none;
    margin-top: 20px;
    color: #010f1c;
    cursor: pointer;
}

.products .container .product-box {
    margin-right: 10%;
    margin-left: 10%;
}

.products .container .product-box .content {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .container .product-box .content .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 330px;
    height: 500px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

.products .container .product-box .content .box:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products .container .product-box .content .box .img_box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}

.products .container .product-box .content .box .img_box img {
    width: 350px;
    height: 300px;
    margin-right: 50px;
}

.products .container .product-box .content .box .img_box .icon {
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}

.products .container .product-box .content .box:hover .img_box .icon {
    transform: translateX(-90px);
}

.products .container .product-box .content .box .img_box .icon li {
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 24px;
}

.products .container .product-box .content .box .img_box .icon li:hover {
    background: #0989ff;
    color: white;
}

.products .container .product-box .content .box .detail {
    margin-top: 10px;
}

.products .container .product-box .content .box .buttons {
    text-align: center; /* Center align content */
    margin: 5px auto; /* Centered with automatic horizontal margins */
    padding: 0px 0px 5px 5px;
}

.products .container .product-box .content .box .buttons .add-to-cart {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  margin: 10px;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.products .container .product-box .content .box .buttons .add-to-cart:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


.products .container .product-box .content .box .detail h3 {
    font-size: 18px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.products .container .product-box .content .box:hover .detail h3 {
    color: #0989ff;
}


.products .container .product-box .content .box .detail h4 {
    margin-top: 5px;
    font-size: 16px;
    color: #0989ff;
    letter-spacing: 1px;
}

.product_detail {
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 1;
    margin-top: -15%;
    background: rgba(0, 0, 0, 0.24);
}

.product_detail .container {
    margin-top: 11%;
    margin-left: 15%;
    width: 1100px;
    height: 600px;
    background: #fff;
    padding: 0px 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_detail .container .closeBtn {
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

.product_detail .container .product_box {
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    /* justify-content: space-between; */
}

.product_detail .container .product_box .img_box {
    padding: 20px 30px;
    width: 500px;
    height: 500px;
    background: #f1f1f1
}

.product_detail .container .product_box .img_box img {
    width: 400px;
    height: 400px;
}

.product_detail .container .product_box .detail {
    margin-left: 20px;
    margin-top: 10px;
}

.product_detail .container .product_box .detail h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .product_box .detail h2 {
    margin-top: 20px;
    font-size: 34px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.product_detail .container .product_box .detail p {
    margin-top: 10px;
    color: #4a4a4a;
}

.product_detail .container .product_box .detail h3 {
    margin-top: 10px;
    font-size: 34px;
    color: #010f1c;
    letter-spacing: 1px;
}

.product_detail .container .product_box .detail button {
    margin-top: 30px;
    padding: 15px 60px;
    border: none;
    outline: none;
    background: #010f1c;
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.product_detail .container .product_box .detail button:hover {
    background: #0989ff;
}